<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SDZ | Volgorde</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="skeleton.css">

    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="volgorde.css">
</head>

<body>
    <main>
        <nav>
            <ul>
                <li>
                    <a class="nav-link" href="/home">home</a>
                </li>
                <li>
                    <a class="nav-link" href="/opladen">opladen</a>
                </li>
                <li class="active">
                    <a class="nav-link" href="/volgorde">volgorde</a>
                </li>
                <li>
                    <a class="nav-link" href="/contact">contact</a>
                </li>
            </ul>
        </nav>
        <h1>Volgorde.</h1>
        <button id="postData">update</button>
        <hr>
        <p>Versleep de afbeeldingen om de volgorde aan te passen.</p>

        <% images.forEach(img => { %>


            <div class="card" draggable="true" id="<%=img._id %>" ondrop="drop_handler(event)" ondragleave="dragleave_handler(event)"
                ondragover="dragover_handler(event);" ondrag="ondrag_handler(event)">
                <img height="150" src="<%=img.url %>" />
                <%= img.name%>
                    <%= img.description%>
            </div>




            <% }) %>

    </main>
    <footer>
        <code>
            made by:
            <a href="mailto:thomas.maclean+work@gmail.com">thomas maclean</a>
            <i class="emoji">🤖</i>

            <%='© ' +new Date().getFullYear() %>
        </code>
    </footer>
    <script src="volgorde.js"></script>

</body>

</html>